In [7]:
import pandas as pd
import numpy as np
movies=pd.read_csv('tmdb_5000_movies.csv')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [8]:
credits=pd.read_csv('tmdb_5000_credits.csv')
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
credits=pd.DataFrame(credits)
movies=pd.DataFrame(movies)

In [10]:
final=pd.merge(movies,credits,on='title')
final.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
final.info()
# this gives names of all the columns and we deciede which columns should we includ
# as we are doing content based recommendation so we want to create tags so for that we are mostly avoiding 
#integer column such as budget  revenue etc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [12]:
final=final[['movie_id','title','genres','keywords','overview','cast','crew']]
final.head()

,movie_id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
final.isnull().sum()
# isnull functions returns a boolean value for each cell and .sum sums it
#check if any cell is null that is if any cell is empty

movie_id    0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [14]:
final.dropna(inplace=True)

#since only 3 cells are empty instead of filling it we r dropping it

In [15]:
final.duplicated().sum()
#check if there are any duplicates 
# output comes to be 0 as we dont have any duplicates in data

0

In [16]:
final.iloc[0].genres 
#see this contains numbers etc we just want words that is name factor only also one thing is this is list
#of dictionaries and infact it is not list it is string of dictionary so first we need to convert to list
# and then create a function in which we will pass this list and extract only name wala part

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
# to convert string to list there are various ways google it and see
# but we will use ast.literal_eval()

In [18]:
import ast

In [19]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
       L.append(i['name'])
    return L

In [20]:
final['genres']=final['genres'].apply(convert)

In [21]:
final['keywords']=final['keywords'].apply(convert)

In [22]:
final['cast']=final['cast'].apply(convert)

In [23]:
def get_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
       if(i['job']=='Director'):
          L.append(i['name'])
          break
    return L
    #we want only director

In [24]:
final['crew']=final['crew'].apply(get_director)

In [25]:
# note the overview section is a string so changing it to a list so that we can append all colums
final['overview']=final['overview'].apply(lambda x : x.split())
final['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [26]:
final['genres']=final['genres'].apply(lambda x:[i.replace(" ","") for i in x])
final['keywords']=final['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
final['cast']=final['cast'].apply(lambda x:[i.replace(" ","") for i in x])
final['crew']=final['crew'].apply(lambda x:[i.replace(" ","") for i in x])
# as we dont want space between words we want them to be single tag
# why are we doing this?
# see there is a director named Sam Warington if we dont remove space than 2 different tags Sam and Warington 
# will be created and similarly if there is another director say Sam Mandece so this will also create tag with
# name Sam so our recommender system may recommend movies based on similarity in tag Sam
# which wont give accurate results

In [27]:
final['tags']=final['overview']+final['crew']+final['cast']+final['keywords']+final['genres']
# merging all the data or columns into one column of tags

In [28]:
my_data=final[['movie_id','title','tags']]
# finally we have rewuired data just we need to convert list into a string

In [29]:
my_data['tags']=my_data['tags'].apply(lambda x:" ".join(x))
# see since we concatinated lists so we want to change it to a string 
# but why?

C:\Users\prath\AppData\Local\Temp\ipykernel_3052\2927090381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data['tags']=my_data['tags'].apply(lambda x:" ".join(x))

In [30]:
my_data['tags']=my_data['tags'].apply(lambda x:x.lower())
# bringing all elements in lowercase letters

C:\Users\prath\AppData\Local\Temp\ipykernel_3052\4289209259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data['tags']=my_data['tags'].apply(lambda x:x.lower())

In [31]:
my_data['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. jamescameron samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d action adventure fantasy sciencefiction'

In [32]:
import nltk 
# for steeming

In [33]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [34]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)
# function which stems words in  return string

In [35]:
my_data['tags']=my_data['tags'].apply(stem)
# stemming will handle different words with slight change in spelling into one word so that unnecessary tags
# are not created for example actions action both should come under one tag
# similarly loved love loving comes under one tag love which is possible because of stemming

C:\Users\prath\AppData\Local\Temp\ipykernel_3052\2977685673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data['tags']=my_data['tags'].apply(stem)

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')
# we r using bag of words technique for vectorising where we will add all the words together of tags section
# and pick out most frequent 5000 words or 10000 words etc
# and stop words are words like "are ,of ,and ,the" which are used for joining and are not considered
# while finding most frequent words

In [37]:
vectors=cv.fit_transform(my_data['tags']).toarray()
# this return a sparse table so we r converting it to nupy array

In [38]:
vectors # this is our vectors for each movie

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [39]:
# good thing of count vectorizer is we can see which 5000 words are selected
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      dtype=object)

In [40]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

# this calculates the cosine dist bw every vectors

C:\Users\prath\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\extmath.py:189: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [41]:
similarity[1]
# if score is close to 1 than more similar so score of a movie with itself will always be one

array([0.06818182, 1.        , 0.07644708, ..., 0.02153652, 0.        ,
       0.02383656])

In [42]:
my_data[my_data['title']=='Avatar'].index[0] 
# this helps us to find the index of the movie in the similarity matrix 
# now we just need to check in this row top 5 similar movues
# for that we need to sort the matrix 
# but the problem will be if we sort it directly we would losse index of the movie which it si similar to 
# so before sorting we need to make it pair and save their indices
# for this we do 
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6] # x[1] beacuse x[0] means indices
# and x[1] means distances and we need to sort in terms of distance
# and to get top 5 we did [1:6] 
# we didnt do [0:5] because 0 will give us the same movie

[(1216, 0.27028123880866767),
 (582, 0.23162743094465488),
 (2333, 0.22996655275195),
 (3730, 0.22498852128662872),
 (507, 0.22438727760202976)]

In [43]:
def recommend(movie):
    movie_index=my_data[my_data['title']==movie].index[0]
    movie_distance=similarity[movie_index]
    recommended_movies=sorted(list(enumerate(movie_distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in recommended_movies:
        print(my_data.iloc[i[0]].title)
        # i[0] because i contains a pair where first element is movie id and second 
        # element is distance

In [56]:
recommend('Pirates of the Caribbean: The Curse of the Black Pearl')
# this gives id so we need to convert to names
# my_data.iloc[1216].title

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: At World's End
Pirates of the Caribbean: On Stranger Tides
VeggieTales: The Pirates Who Don't Do Anything
The Pirates! In an Adventure with Scientists!

In [ ]:
# our model is ready just we need to prepare webiste